# Change Rows

## Set select alias

In [ ]:
#### db-2 ####
alias pg_select_rep_a='psql -c "SELECT * FROM replicated_a;"'
alias pg_select_rep_b='psql -c "SELECT * FROM replicated_b;"'

## Insert

In [ ]:
#### db-1 ####
psql -c "INSERT INTO replicated_a VALUES (1, 'a'), (2, 'b');"

#### db-2 ####
pg_select_rep_a

## Update

In [ ]:
#### db-1 ####
psql -c "UPDATE replicated_a SET data = 'c' WHERE id = 1;"

#### db-2 ####
pg_select_rep_a

## Delete

In [ ]:
#### db-1 ####
psql -c "DELETE FROM replicated_a WHERE id = 2;"

#### db-2 ####
pg_select_rep_a